{% extends "base.html.twig" %}
{% block title %}list de projet{% endblock %}
{% block body %}
    <br>
    <table class ="table-borderless">
        <tr>
            <th>Amount</th>
            <th> paymentMethod </th>
            <th> Status </th>
            <th> TransactionId </th>
            <th> IsAnonymous </th>
            <th> Id de project </th>

        </tr>
        {% for donation in donations %}
            <tr>
                <td>{{ donation.amount }}</td>
                <td>{{ donation.paymentMethod }}</td>
                <td>{{ donation.status }}</td>
                <td>{{ donation.transactionId }}</td>
                <td>{{ donation.isAnonymous }}</td>
                <td>{{ donation.project }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
