{% extends 'base.html.twig' %}

{% block title %}Hello DonationController!{% endblock %}

{% block body %}
    <div data-scroll-index='1' class="make_donation_area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-55">
                        <h3><span>Make a Donation</span></h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    {{ form_start(form, {'attr': {'class': 'donation_form'}}) }}
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            {{ form_row(form.amount) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.paymentMethod) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.status) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.transactionId) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.isAnonymous) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="donate_now_btn text-center">
                                {{ form_widget(form.donateNow, {
                                    'label': 'Donate Now', 'attr':
                                    {'class': 'boxed-btn4'}

                                })
                                }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
