{% extends 'base.html.twig' %}
{% block body%}
    <br>
<div class="container">

    <div class="form">
        <h2>Ajoute un Projet</h2>
        {{ form_start(form) }}
            {{ form_row(form.titre,{
                attr:{'class': 'form-control'}
            }) }}
        {{ form_start(form) }}
        {{ form_row(form.description,{
            attr:{'class': 'form-control'}
        }) }}
        {{ form_row(form.lieu,{
            attr:{'class': 'form-control'}
        }) }}
        {{ form_row(form.adresse,{
            attr:{'class': 'form-control'}
        }) }}
        {{ form_row(form.dateDebut,{
            attr:{'class': 'form-control'}
        }) }}
        {{ form_row(form.dateFin,{
            attr:{'class': 'form-control'}
        }) }}
        {{ form_row(form.nombreParticipants,{
            attr:{'class': 'form-control'}
        }) }}
        {{ form_row(form.createdAt,{
            attr:{'class': 'form-control'}
        }) }}
        {{ form_row(form.updatedAt,{
            attr:{'class': 'form-control'}
        }) }}
        {{ form_row(form.imageName,{
            attr:{'class': 'form-control'}
        }) }}
        {{ form_row(form.sauvegarder,{
            attr:{
                'class': 'btn btn-primary mt-3 custom-submit-btn',
                'style': 'margin-top:25px;'
            }
        }) }}

        {{ form_end(form) }}

    </div>

</div>
{% endblock %}
