{% extends 'base.html.twig' %}

{% block title %} Activites{% endblock %}

{% block body %}

    <br>
    <div class="popular_causes_area pt-120">
        <h1>Our Activite</h1>
        <div class="container">
            <div class="row">
                <br>
                <form method="get" action = "{{path('app_activite_index')  }}" class="row g-3">
                    <div class="col-md-4 mb-5">
                        <label for="search" class="form-label">Search by title or description</label>
                        <input type="text" id="search" name="search" class="form-control" placeholder="Rechercher..."
                               value="{{ currentFilters.search is defined ? currentFilters.search : '' }}">
                    </div>

                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="fa fa-search" aria-hidden="true"></i> Filtrer
                        </button>
                    </div>
                </form>

                {% for activite in activites %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single_cause">
                            <div class="thumb">
                                <img src="{{ asset('uploads/activites/' ~ activite.image) }}" alt="{{ activite.title }}"
                                     alt="{{ activite.title }}">
                            </div>
                            <div class="causes_content">


                                <h4>{{ activite.title }}</h4>
                                <p>Description: {{ activite.description }}</p>
                                <p>Lieu: {{ activite.lieu }}</p>
                                <a class="read_more" href="{{ path('app_benevole_list_benevole', { id: activite.id }) }}">list benevole</a>
                                <br>

                                <a role="button" class="btn btn-primary" href="{{ path('add_app_benevole', { id: activite.getId() }) }}">Join us</a> <br>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}
