{% extends 'base.html.twig' %}

{% block title %}Détails Activité{% endblock %}

{% block body %}
    <div class="container mt-4">

        <h1 class="mb-4">Détails de l’activité</h1>

        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <td>{{ activite.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ activite.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ activite.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ activite.date ? activite.date|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ activite.lieu }}</td>
            </tr>
        </table>

        <a class="btn btn-warning" href="{{ path('app_activite_edit', {'id': activite.id}) }}">Modifier</a>
        <a class="btn btn-secondary" href="{{ path('app_activite_index') }}">⬅ Retour</a>

    </div>
{% endblock %}
